<?xml version="1.0" encoding="utf-8"?>
<cruise xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="cruise-config.xsd" schemaVersion="139">
    <server agentAutoRegisterKey="{{ getenv "AGENT_AUTO_REGISTER_KEY" }}" webhookSecret="af594c62-a5a7-43bd-ae1b-0e2506d962c7" serverId="3a6d84b5-236c-4e8d-8571-2fc0ba8ffddc" tokenGenerationKey="50bd6c4b-7565-4d7c-b8b7-d00bea4364a1">
        <backup emailOnSuccess="true" emailOnFailure="true" />
        <artifacts>
            <artifactsDir>artifacts</artifactsDir>
        </artifacts>
    </server>
    <config-repos>
        <config-repo id="polyrepo" pluginId="yaml.config.plugin">
            <git url="http://{{ getenv "GIT_SERVER_LISTEN_HOST" }}:{{ getenv "GIT_SERVER_LISTEN_PORT" }}/{{ getenv "POLYREPO_GITS_RELATIVE_DIR" }}/{{ getenv "POLYREPO_GOCD_YAMLS_RELATIVE_DIR" }}.git" />
			<configuration>
				<property>
					<key>file_pattern</key>
					<value>*.yaml</value>
				</property>
			</configuration>
            <rules>
                <allow action="refer" type="*">*</allow>
            </rules>
        </config-repo>
        <config-repo id="polyrepo" pluginId="yaml.config.plugin">
            <git url="http://{{ getenv "GIT_SERVER_LISTEN_HOST" }}:{{ getenv "GIT_SERVER_LISTEN_PORT" }}/{{ getenv "MONOREPO_GITS_RELATIVE_DIR" }}/{{ getenv "MONOREPO_GOCD_YAMLS_RELATIVE_DIR" }}.git" />
			<configuration>
				<property>
					<key>file_pattern</key>
					<value>*.yaml</value>
				</property>
			</configuration>
            <rules>
                <allow action="refer" type="*">*</allow>
            </rules>
        </config-repo>
    </config-repos>
</cruise>
